POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ad_pipeline

CLICKHOUSE_DB=ad_pipeline
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_SECRET_KEY=local-dev-secret-key
