.env
*.log

__pycache__/
.pytest_cache/
*.pyc

data/landing/*.jsonl
data/archive/*.jsonl
data/bad/*.jsonl
data/checkpoints/*
!data/landing/.gitkeep
!data/archive/.gitkeep
!data/bad/.gitkeep
!data/checkpoints/.gitkeep

flink-jobs/target/

.DS_Store
.idea/
.vscode/
